# DEVELOPMENT
DEV_CRYSTALLIZE_ACCESS_TOKEN_ID=YOUR_DEVELOPMENT_TOKEN_ID
DEV_CRYSTALLIZE_ACCESS_TOKEN_SECRET=YOUR_DEVELOPMENT_TOKEN_SECRET
PUBLIC_API_URL=https://pim-dev.crystallize.digital

# PRODUCTION
# CRYSTALLIZE_ACCESS_TOKEN_ID=YOUR_PRODUCTION_TOKEN_ID
# CRYSTALLIZE_ACCESS_TOKEN_SECRET=YOUR_PRODUCTION_TOKEN_SECRET
# PUBLIC_API_URL=https://pim.crystallize.com
